<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/mvc 
   http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<context:annotation-config />
	<mvc:annotation-driven />
	<context:component-scan base-package="com.mysite.*"></context:component-scan>
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<bean id="userHandler" class="com.mysite.handler.UserHandler">
		<property name="users">
			<list>
				<ref bean="user" />
				<ref bean="admin" />
				<ref bean="reviewer" />
			</list>
		</property>
	</bean>
	<bean id="user" class="com.mysite.model.User">
		<property name="username" value="deathnote"></property>
		<property name="password" value="shinigami"></property>
	</bean>
	<bean id="admin" class="com.mysite.model.User">
		<property name="username" value="taher"></property>
		<property name="password" value="yahoo"></property>
	</bean>
	<bean id="reviewer" class="com.mysite.model.User">
		<property name="username" value="shital"></property>
		<property name="password" value="123"></property>
	</bean>

	<bean id="loginValidator" class="com.mysite.handler.LoginValidator"></bean>
	<bean id="loginHandler" class="com.mysite.handler.LoginHandler"></bean>
<bean name="order" class="com.mysite.model.Order"></bean>
	<bean name="productHandler" class="com.mysite.handler.ProductHandler"
		scope="singleton">
		<property name="products">
			<list>
				<ref bean="product1" />
				<ref bean="product2" />
				<ref bean="product3" />
				<ref bean="product4" />
			</list>
		</property>
	</bean>
	<bean id="product1" class="com.mysite.model.Products">
		<property name="id" value="1" />
		<property name="name" value="puma Shoes" />
		<property name="price" value="799" />
		<property name="size" value="X" />
		<property name="color" value="Blue/green" />
		<property name="quantity" value="5" />
		<property name="selected" value="0" />
	</bean>

	<bean id="product2" class="com.mysite.model.Products">
		<property name="id" value="2" />
		<property name="name" value="addidas Shoes" />
		<property name="price" value="900" />
		<property name="size" value="XL" />
		<property name="color" value="Black/Blue" />
		<property name="quantity" value="5" />
		<property name="selected" value="0" />
	</bean>
	<bean id="product3" class="com.mysite.model.Products">
		<property name="id" value="3" />
		<property name="name" value="Nike Shoes" />
		<property name="price" value="899" />
		<property name="size" value="L" />
		<property name="color" value="White/Black" />
		<property name="quantity" value="5" />
		<property name="selected" value="0" />
	</bean>
	<bean id="product4" class="com.mysite.model.Products">
		<property name="id" value="4" />
		<property name="name" value="BATA Shoes" />
		<property name="price" value="499" />
		<property name="size" value="XL" />
		<property name="color" value="Blue" />
		<property name="quantity" value="5" />
		<property name="selected" value="0" />

	</bean>
	<!-- <bean id="cartManager" class="com.mysite.handler.CartManager"></bean> -->
</beans>
   
 